$size: 300px;

.chebur-logo {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    translate: -50% -50%;

    height: $size;
    width: $size;
    border-radius: 50%;

    img {
        height: 100%;
        border-radius: 50%;
        box-shadow: 0 0 100px #ffaaaa90;
    }
}

.wave{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: $size;
    height: $size;
    z-index: -1;

    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
    animation: wave-animation 10s linear infinite;
}

@keyframes wave-animation {
    0% {
        scale: 1;
        opacity: 1;
    }
    100% {
        scale: 2.5;
        opacity: 0;
    }
}