nav {
    display: block;
    padding: 20px;
    text-align: end;
    display: flex;
    justify-content: space-between;

    >* {
        text-align: left;
        display: inline-block;
    }
}

.nav-button-wrapper {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    user-select: none;
    overflow: hidden;

    &:hover {
        background-color: #444;
    }
    &:active {
        background-color: #555;
    }
}

.burger-menu {
    position: absolute;
    right: 0;
    overflow-y: auto;

    max-height: calc(100vh - 20px - 140px);
    width: 300px;
    margin: 70px 20px 0 0;

    background-color: #333;
    border-radius: 10px;
    transition: translate .3s, visibility .3s, scale .3s;
    &::-webkit-scrollbar {
        border-radius: 10px;
        width: 7px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0 10px 10px 0;
        background-color: #444;
    }
}

.burger-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 10px;
    // letter-spacing: 10px;
    // background-color: rebeccapurple;
    width: 100%;
    min-height: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    li {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 80px;
        margin: 5px;
        border-radius: 10px;
        background-color: #444;
        // color: white;
    }

    li:hover {
        // padding: 10px;
        border-radius: 10px;
        background-color: #555;
    }

    li:active {
        background-color: #666;
    }

    li a {
        text-decoration: none;
        color: white;
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 80%;
        }

    }

    .big-li {
        width: 100%;
        height: fit-content;
        overflow-y: auto;
        padding: 10px;
        display: block;
        // text-align: justify;

        &::-webkit-scrollbar {
            border-radius: 10px;
            width: 7px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 0 10px 10px 0;
            background-color: #444;
        }
    }
}
.burger-menu_hiden {
    scale: 0;
    visibility: hidden;
    translate: 150%;
}

.menu-button {
    height: 24px;
    width: 24px; 
    svg, img {
        pointer-events: none;
        display: block;
        width: 100%;
        height: 100%;
        color: white;
    }
}