.todo {
    list-style: none;
    overflow-y: auto;
    position: absolute;
    left: 0;
    width: 300px;
    max-height: 362px;
    margin: 70px 0 0 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #333;
    transition: translate .3s, visibility .3s, scale .3s;
    
    &::-webkit-scrollbar {
        border-radius: 10px;
        width: 7px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0 10px 10px 0;
        background-color: #444;
    }
}

.todo__form {
    display: flex;
    border-bottom: 1px solid #555;
    padding-bottom: 10px;

    button,
    input {
        border-radius: 5px;
        border: 0;
        padding: 5px 10px;
        background-color: #444;
        color: #bbb;
        font-size: 16px;

        &:hover {
            background-color: #555;
        }
    }

    button {
        width: 70px;
        margin-left: 5px;

        &:active {
            background-color: #666;
        }
    }

    input {
        width: 1px;
        flex-grow: 1;
    }
}

.todo__item {
    background-color: #444;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    animation: enter .3s linear;

    .todo__item__text {
        text-wrap: wrap;
        flex-grow: 1;
        overflow-wrap: break-word;
        overflow: hidden;
    }

    .todo__item__close {
        background-color: #a33;
        color: #bbb;
        float: right;
        padding: 3px;
        border-radius: 3px;
        border: 0;
        margin-left: 5px;
        transition: filter .2s;
    }

    .todo__item__close:active {
        filter: contrast(1.4);
    }
}

.todo_hiden {
    scale: 0;
    visibility: hidden;
    translate: -150%;
}

@keyframes enter {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-height: 500px) {
    .todo {
        max-height: calc(100vh - 20px - 140px);
    }
}