@import 'background';
@import 'nav';
@import 'todo';

*{box-sizing: border-box;}
body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: #222;
    font-family: Arial, Helvetica, sans-serif;
    color: #bbb;
    width: 100vw;

    &::-webkit-scrollbar {
        background-color: #222;
        width: 7px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #444;
    }
}
#root {
    height: 100%;
}